@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <p>
        <map name="ua_map">
            <area coords="0, 0, 100, 100, 0, 100" shape="poly"
                  href="google.com" alt="Координаты для червяка">
        </map>
    </p>
    <p>
        <img src="~/Content/images/ua.svg" usemap="#ua_map"
             width="623" height="511" alt="Червяк">
    </p>
</div>

<style>
    area:hover{
        opacity:0.5;
        background-color: yellow;
    }
    map:hover {
        opacity: 0.5;
        background-color: yellow;
    }
</style>